.DS_Store
.git
node_modules
src
.env.migration.development
.env.migration.production
.prettierrc
Dockerfile
docker-compose-dev.yaml
docker-compose-prod.yaml
deploy-dev.sh
deploy-prod.sh
deployment-dev.yaml
deployment-prod.yaml
dev-rbac.yaml
ngrok-deployment.yaml
tsconfig.app.json
tsconfig.node.json
tsconfig.json
vite.config.ts
